<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeVuln</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <header
      class="w-screen h-14 bg-white flex justify-between items-center shadow shadow-md"
    >
      <a href="/" class="flex flex-row items-center mx-8">
        <img src="static/codevuln.png" class="w-8" />
        <p class="font-bold text-3xl">CodeVuln</p>
      </a>
      <div class="flex flex-row items-center mx-8 space-x-8">
        <a
          href="{{ url_for('input_tag_bp.input_tag') }}"
          class="font-bold text2xl hover:text-blue-500"
          >input_tag</a
        >
        <a href="/result" class="font-bold text2xl hover:text-blue-500"
          >Result</a
        >
        <a href="/dashboard" class="font-bold text2xl hover:text-blue-500"
          >Dashboard</a
        >
        <a href="/setting" class="font-bold text2xl hover:text-blue-500"
          >Setting</a
        >
      </div>
    </header>
    <div class="text-5xl font-bold">CodeVuln Setting!</div>
  </body>
</html>
